.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-cropper {
position: absolute;
  top: 50%;
  left: 50%;
 width: 300px;
 height: 300px;
 transform: translate(-50%,-50%);

}



.slider {
	height: 10%;
	display: flex;
	align-items: center;
	margin: auto;
	width: 60%;
}

.container-buttons {
	border: 1px solid #f5f5f5;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
}